:root {
  /* Constant used in some calcs */
  --nav-height: 61px;

  --brand-black: #000000;
  --brand-white: #ffffff;
  --brand-green: #0c7646;
  --brand-yellow: #ebba27;

  --font-size-m: 0.9rem;
  --font-size-l: 1.3rem;
  --font-size-xl: 2rem;
  --font-size-hero: 5rem;

  --content: var(--brand-black);
  --bg: var(--brand-white);

  --link: #ebba27;
  --link-highlight: #cea11c;

  --spacing-s: 6px;
  --spacing-m: 10px;
  --spacing-l: 18px;
  --spacing-xl: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --content: var(--brand-white);
    --bg: var(--brand-black);

    --link: #ebba27;
    --link-highlight: #cea11c;
  }
}

@media screen and (min-width: 800px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.5rem;

    --spacing-xl: 54px;
  }
}

html {
  background-color: var(--bg);
  scroll-behavior: smooth;
  scroll-padding-top: calc(var(--nav-height) + var(--spacing-m));
  line-height: 1.6;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main,
.footer-content {
  width: 90%;
  margin: 0 auto;

  @media screen and (min-width: 800px) {
    width: 60%;
  }
}

main {
  flex: 1;
}

/* Native elements, baseline styling */

figure,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

p {
  margin: var(--spacing-s) 0;
}

p,
small,
span,
li,
figcaption {
  color: var(--content);
  font-size: var(--font-size-m);
}

a {
  font-size: var(--font-size-m);
  color: var(--link);
  text-decoration: none;

  &:hover,
  &:focus {
    color: var(--link-highlight);
    text-decoration: underline;
  }
}

h1,
h2 {
  color: var(--content);
  font-size: var(--font-size-l);

  margin-top: var(--spacing-l);
  margin-bottom: 0;
}

/* Header bar */
nav {
  position: sticky;
  width: 100%;
  z-index: 1;
  top: 0;
  box-sizing: border-box;

  background-color: var(--brand-black);
  border-bottom: 1px solid var(--content);
  padding: var(--spacing-s) var(--spacing-m);

  figcaption {
    color: var(--brand-white);
    font-size: var(--font-size-l);
  }
}

button {
  color: var(--content);
  background-color: var(--bg);
  border: 1px solid var(--content);

  &:hover,
  &:focus {
    background-color: var(--content);
    color: var(--bg);
  }
}

footer {
  background-color: var(--brand-black);
  margin-top: var(--spacing-xl);
  padding: var(--spacing-m) 0;
  border-top: 1px solid var(--content);
}

/* Targeted elements */

#mobile-nav-menu {
  position-area: bottom;
  margin: var(--spacing-s) var(--spacing-m);
  background-color: var(--bg);
  border: 1px solid var(--content);

  &::backdrop {
    background: rgba(0, 0, 0, 0.35);
  }

  transform: translateX(200px);

  transition:
    transform 0.2s ease-out,
    opacity 0.2s ease-out,
    display 0.2s;
  transition-behavior: allow-discrete;

  &:popover-open {
    transform: translateX(0);
    opacity: 1;

    @starting-style {
      transform: translateX(200px);
      opacity: 0;

      @media (prefers-reduced-motion: reduce) {
        transform: unset;
      }
    }
  }
}

.hero-img {
  width: 100%;
  height: calc(100vh - var(--nav-height));
  object-fit: cover;
  border-bottom: 10px solid var(--brand-black);
}

.hero-date-container {
  background-color: rgb(0, 0, 0, 0.6);

  padding: var(--spacing-m);
  border-radius: 5px;

  position: absolute;
  right: var(--spacing-xl);
  bottom: calc(var(--spacing-m) + var(--spacing-xl));

  > .hero-date-prefix {
    text-transform: capitalize;
    color: var(--brand-white);
  }

  > .hero-date {
    color: var(--brand-white);
    font-size: var(--font-size-hero);
    margin: 0;
    line-height: 1;
  }
}

.cta-link {
  font-size: var(--font-size-xl);
}

.social-link {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
